*{
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
    overflow-y: initial;
}

.light-mode {
    --bg-color: white;
    --text-color: #000000;
    --header-bg-color: #ece9e9;
    --header-text-color: #000000;
    --accent-text-color: rgb(93, 65, 249);
  }
  
.dark-mode {
    --bg-color: #2b2a2a;
    --text-color: #ffffff;
    --header-bg-color: rgb(28, 28, 28);
    --header-text-color: #ffffff;
    --accent-text-color: aqua;
  }

.switch {
    position: relative;
    display:inline-block;
    width: 70px;
    height: 34px;
    bottom: 6px;
    margin-left: -2%;
} 
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    
}  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aqua;
    transition: 0.4s;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--bg-color) inset;

}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 40px;

} 
input:checked + .slider {
    background-color: rgb(93, 65, 249);
    box-shadow: 0 0 10px var(--bg-color) inset;

} 
input:checked + .slider:before {
    transform: translateX(26px);
}


.header{
    position: fixed;
    z-index: 60;
    top: 20px;
    width: 95%;
    height: 40px;
    left: 2%;
    color: var(--text-color);
    padding: 10px;
    background-color: var(--header-bg-color);
    box-shadow: 0 0 5px var(--accent-text-color);
    border-radius: 40px;
}


.sidebar{
    position: fixed;
    top: 95px;
    left: 5px;
    bottom: 20px;
    width: 29%;
    background-color: var(--header-bg-color);
    box-shadow: 0 0 5px var(--accent-text-color);
    border-radius: 40px;
    margin-left: 20px;
}




.juice{
    margin-top: 60px;
    margin-left: 38%;
    margin-right: 50px;
    padding: 2%;
    height: auto;
    border-left: solid black;
    border-right: solid black;

}


.name{
    display: flex;
    margin-top: -6px;
    font-weight: bolder;
    justify-content: center;
}
.namelink{
    text-decoration: none;
    color: var(--header-text-color);
}
.namelink:hover{
    color: var(--accent-text-color);
}
.initialname{
    display: block;
    position: relative;
    background-color: var(--accent-text-color);
    padding: 9px;
    font-size: 15pt;
    border-radius: 25px;
    color: black;
    font-family: Brush Script MT, Brush Script Std, cursive;
    box-shadow: 0 0 10px var(--bg-color) inset;
    margin-right: 25px;
    margin-left: 20px;
    margin-top: -7px;
    width: 35px;
    height: 25px;
    float: left;
    text-align: center;
}
.myname{
    display: block;
    float: right;
    margin-top: 5px;
}
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}
.quicklinks{
    display: flex;
    margin-top: 10px;
    text-align: center;
    justify-content: space-between;

}

.menu-list{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 65%;
    right: 0;
    margin-right: 20px;
    margin-top: 0;
    padding: 0;
}
.menu-list li{
    display: inline-block;
}
.buttonlinks a{
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 5px;
    margin-top: -14px;
    margin-bottom: 8px;
}
.buttonlinks a:hover{
    color: var(--accent-text-color);
    animation:backwards;
    animation-duration: 2ms;
    background-color: rgba(70, 70, 70, 0.3) ;
}
[id]::before{
    content: '';
    display: block;
    height:      75px;
    margin-top: -75px;
    visibility: hidden;
}
.home{
    border: none;
    background-color: none;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.about{
    border: none;
    background-color: none;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.resume{
    border: none;
    background-color: none;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.portfolio{
    border: none;
    background-color: none;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.contacts{
    border: none;
    background-color: none;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;

}

.intro{
    position: relative;
    text-align: center;
    text-shadow: grey 1px 1px;
    vertical-align: center;
    color: black;
    border-radius: 30px;
    border: solid 1px grey;
    box-shadow: 0 0 100px var(--bg-color) inset;
    width: 100%;
    height: 300px;
    background-size: 250% 250%;
    background-image: linear-gradient(-45deg, grey 0%, grey 25%, grey 51%,  var(--accent-text-color) 100%);
    -webkit-animation: AnimateBG 5s ease infinite;
    animation: AnimateBG 5s ease infinite;
}
@-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
@keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.introtitle{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.introtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profilepic{
    margin-top: 20px;
    max-height: 50%;
    max-width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 40px;
    border: solid black;
}
.sidebarcontent{
    display: flex;
    flex-flow: column;
    margin-top: 15px;
    padding-left: 2px;
    padding-right: 2px;
}
.panelname{
    text-align: center;
    font-weight: bold;
    font-size: 5.2vh;
}
.profession{
    text-align: center;
    margin-top: 5px;
    font-size: 4vh;
}
.bottominfo{
    text-align: center;
    margin-top: 15px;
    font-size: 2.2vh;
}

.linked{
    position: relative;
    z-index: 50;
    background-color: var(--header-bg-color);
    padding: 10px;
    text-align: center;
    margin-left: -13%;
    width: fit-content;
    border-radius: 40px;
    font-size: 30pt;
    padding-left: 30px;
    padding-right: 25px;
    box-shadow: 0 0 10px var(--header-bg-color);

}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.column {
    flex-basis: 50%;
}
.separator {
    margin: 0 5px;
}
.bluevar{
    color: var(--accent-text-color);
}

.tlulist{
    list-style-type: none;
}
.resumeheader{
    font-size: 25pt;
    margin-bottom: 0px;
    margin-top: 40px;
}
.resumesubheader{
    color: var(--accent-text-color);

}
.tlu{
    margin-left: 10%;
    margin-top: 50px;  
}

#div1{
    display: block;
}
#div2{
    display: none;
    margin-top: -50px;
}

#scrollContainer {
    white-space: nowrap;
    overflow-x:auto;
    width: 90%;
    padding-bottom: 10px;
}
#scrollContainer::-webkit-scrollbar {
    width: 500px;
    height: 10px;
}
#scrollContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 20px;
}

#scrollContainer::-webkit-scrollbar-thumb {
    background-color: var(--header-bg-color);
    border-radius: 20px;
}
.togglebutton{
    display: flex;
    margin-left: 10%;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    padding: 12px;
    cursor: pointer;
    border: solid 1pt var(--text-color);
    border-radius: 20px;
    height: 45px;
    margin-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
}
.togglebutton:hover{
    color: var(--accent-text-color);
    border: solid 1pt var(--accent-text-color);

}
.schooldate{
    margin-bottom: -30px; 
    font-style: italic;
}
.tluname{
    font-size: 20pt;
    font-style: italic;
}
.tluinfo{
    margin-left: 50px;
    margin-top: -30px;
}
.coursetable{
    text-align: left;
    border-spacing: 10px;
}
.coursetable th{
    padding-right: 40px;
}
.classname{
    background-color: var(--header-bg-color);
}

.sidebyside{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 20px;
}
.form{
    margin-top: 30px;
    margin-left: 30px;
}
.nameboxt{
    position: relative;
    margin-bottom: -30px;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 50;
    background-color: var(--bg-color);    
    width:max-content;
}
.namebox{
    background-color: transparent;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: grey solid .5px;
    padding-left: 30px;
    color: var(--text-color);
    width: 85%;
}
.emailboxt{
    position: relative;
    margin-bottom: -30px;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 50;
    background-color: var(--bg-color);
    width:fit-content;
}
.emailbox{

    background-color: transparent;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: grey solid .5px;
    padding-left: 30px;
    color: var(--text-color);
    width: 85%;
}
.messageboxt{
    position: relative;
    margin-bottom: -30px;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 50;
    background-color: var(--bg-color);
    width:fit-content;
}
.messagebox{
    background-color: transparent;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: grey solid .5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    resize: none;
    color: var(--text-color);
    width: 77%;
}


.messagebox::-webkit-scrollbar {
    display: block;
    width: 10px;
    padding-right: 10px;
}
.messagebox::-webkit-scrollbar-track {
    background: transparent;
}
.messagebox::-webkit-scrollbar-thumb {
    background-color: var(--accent-text-color);
    border-right: none;
    border-left: none;
    border-radius: 30px;

}
.messagebox::-webkit-scrollbar-track-piece:end{
    background-color: white;
    margin-bottom: 15px;
    border-radius: 30px;
    margin-right: 10px;
}
.messagebox::-webkit-scrollbar-track-piece:start{
    background-color: white;
    margin-top: 15px;
    border-radius: 30px;
    margin-right: 10px;
}
.submit{
    background-color: transparent;
    border-radius: 30px;
    border: grey solid .5px;
    color: var(--text-color);
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}
.submit:hover{
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
}


.me{
    border: grey solid .5px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    margin-top: 55px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.info-item{
    margin-top: 20px;
}
.info-label{
    color: var(--accent-text-color);
}
.signature{
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 25pt;
}
.underme{
    color: var(--accent-text-color);
    margin-top: 3px;
    font-size: 10pt;
}
.metitle{
    font-size: 20pt;
}

.codingdiagrams{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    background-color: none;
    margin-top: 55px;
}
.codingdiagrams > div{
    text-align: center;
}
.codingheaders{
    margin-bottom: 60px;
}
.htmlcss-bar{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, var(--bg-color) 90%, transparent 80% 100%),
      conic-gradient(var(--accent-text-color) 90%, var(--bg-color) 0); 
}
.java-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, var(--bg-color) 90%, transparent 80% 100%),
      conic-gradient(var(--accent-text-color) 70%, var(--bg-color) 0); 
}
.python-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, var(--bg-color) 90%, transparent 80% 100%),
      conic-gradient(var(--accent-text-color) 70%, var(--bg-color) 0); 
}
.javascript-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, var(--bg-color) 90%, transparent 80% 100%),
      conic-gradient(var(--accent-text-color) 60%, var(--bg-color) 0); 
}
.sql-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, var(--bg-color) 90%, transparent 80% 100%),
      conic-gradient(var(--accent-text-color) 80%, var(--bg-color) 0); 
}

.allprofessiondiagrams{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    margin-top: 30px;
    margin-left: 7%;

}
.professiondiagrams{
    margin-bottom: 40px;
}
.professionheaders{
    margin-left: 2px;
    font-size: 15px;
}
.professioncontainer{
    width: 90%;
    height: 5px;
    background-color: var(--header-bg-color);
    border-radius: 20px;
    margin-top: -10px;
}
.skills{
    text-align: right;
    height: 5px;
    background-color: var(--accent-text-color);
    color: black;
    border-radius: 20px;
}
.collaboration{width: 90%;}
.problem{width: 85%;}
.thinking{width: 95%;}
.adapt{width: 90%;}
.resilence{width: 70%;}
.leader{width: 80%;}
.percent{
    position: absolute;
    color: var(--accent-text-color);
    margin-left: 165px;
    margin-top: -25px;
}


.portcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    justify-content: space-between;
    column-gap: 15px;
}
.projectcontainer{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-bottom: 20px;
}
.underlay{
    cursor: pointer;
    display: inline-block;
}
.underlay:hover{
    color: var(--accent-text-color);
    transform: scale(1);
    transition: 1s ease;
}
.portimage{
    box-shadow: 0 0 30px black;
    width: 210px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coverimage{
    position: absolute;
    width: 210px;
    height: 200px;
    z-index: -1;
}
.fadein{
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--accent-text-color);
    overflow: hidden;
    width: 90%;
    height: 90%;
    transform: scale(0);
    transition: .5s ease;
    opacity: 80%;
}
.fadeintext{
    color: var(--bg-color);
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.projectcontainer:hover .fadein{
    transform: scale(1);
}
.description{
    text-align: center;
    color: var(--accent-text-color);
    font-size: 10pt;
}
.projectname{
    text-align: center;
    margin-top: -4px;
    font-size: 14pt;
}



#overlay1{
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 100; 
}
#overlay2{
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1000; 
}
#overlay3{
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1000; 
}
.quickinfo{
    height: 100%;
    overflow-y: scroll;
}
.overlaycard{
    background-color: var(--bg-color);
    width: 550px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.cardimage{
    width: 100%;
    height: 500px;
}
.projecttext{
    padding: 40px;
}
.wordtitle{
    color: var(--accent-text-color);
    font-size: 10pt;
}
.cardtitle{
    font-size: 16pt;
}
.projectdescription{
    font-size: 12pt;
}


@media (max-height: 500px){
    .header{
        width: 60%;
        right: 26px;
        left: auto;
    }
    .name{
        display: none;
    }
    .menu-list{
        width: 90%;
    }
    .sidebar{
        top: 20px;
    }
}

@media (max-width: 768px) {

    #letstalk{
        margin-left: 30px;
    }

    .menu-list{
        width: 65%;
    }

    .name{
        display: block;
    }

    body::-webkit-scrollbar {
        display: none;
      }
    
    body {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        overflow-x: hidden;
        width: 100%;
    }
    .header {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        text-align: center;
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        
    }
    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
        margin-left: 0;
        border-radius: 0px;
        left: 0;
        top: 50px;
        border: none;
        box-shadow: none;
        padding-top: 10px;
        margin-bottom: -40px;
    }
    
    .initialname{
        margin-left: 5px;
    }
    .menu-list{
        margin-right: 30px;
    }
    
    .juice {
        margin-left: 0;
        margin-right: 0;
        width: auto;
        border-left: none;
        border-right: none;
    }
    .linked{
        position: relative;
        border-radius: 40px;
        padding-right: 60px;
        padding-left: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    .switch{
        margin-left: 0;
    }

    .profilepic{
        width: 50%;
    }
    .container {
        grid-template-columns: 1fr 1fr;
    }
    .row {
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
    }
    .separator {
        margin: 5px 0;
    }

    [id]::before{
        content: '';
        display: block;
        height:      75px;
        margin-top: -50px;
        visibility: hidden;
    }
}

@media (max-width: 680px){

    body{
        overflow-x: hidden;
    }
    #mylinks{
        display: block;
        position: fixed;
        background-color: var(--header-bg-color);
        top: 55px;
        width: 100%;
        left: 0;
        height: 0;
        box-shadow: 0 5px 5px var(--accent-text-color);
        transition: height 0.3s ease;
        overflow: hidden;
    }
    #mylinks.open{
        height: fit-content;
    }
    #mylinks ul{
        list-style: none;
    }
    #mylinks li{
        display: list-item;
    }
    #mylinks .switch{
        display: block;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
    }
    #mylinks a{
        display: block;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        font-size: 20pt;
    }
    #mylinks a:hover{
        background-color: var(--bg-color);
    }

    .hamburger2 .bar2,
    .hamburger3 .bar3,
    .hamburger4 .bar4 {
        top: 13.5px;
    }


    .hamburger {
        width: 30px;
        height: 30px;
        position: relative;
        margin-right: 30px;
        margin-top: -5px;
        cursor: pointer;
    }
    
    .hamburger .bar {
        padding: 0;
        width: 30px;
        height: 4px;
        background-color: var(--accent-text-color);
        display: block;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: absolute; 
    }
    

    .bar1 {
        top: 0;
    }
    
    .bar2,
    .bar3 {
        top: 13.5px;
    }
    
    .bar3 {
        right: 0;
    }
    
    .bar4 {
        bottom: 0;
    }    
    .hamburger4 .bar5 {
        bottom: 0px;
    }
    .hamburger4 .bar {
        transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    }

    .hamburger4 .bar2 {
        width: 1px;
        transform: rotate(90deg);
        left: 13.5px;
    }

    .hamburger4 .bar3 {
        width: 1px;
        left: 13.5px;
        
    }

    .checkbox4:checked + label > .hamburger4 > .bar1{
        top: 13.5px;
        background-color: transparent;
    }

    .checkbox4:checked + label > .hamburger4 > .bar2{
        left: 0px;
        width: 30px;
        transform: rotate(45deg);
    }

    .checkbox4:checked + label > .hamburger4 > .bar3{
        left: 0;
        width: 30px;
        transform: rotate(-45deg);
    }

    .checkbox4:checked + label > .hamburger4 > .bar4{
        background-color: transparent;
    }

    .checkbox4:checked + label > .hamburger4 > .bar5{
        bottom: 13.5px;
        background-color: transparent; 
    }
    .overlaycard{
        width: 85%;
    }
    .cardimage{
        height: 70%;
    }
}

@media (max-width: 420px){
    .body{
        overflow-x: hidden;
    }
    .codingdiagrams{
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        justify-items: center;        
    }
    .introtext{
        top: 60%;
    }
}




    